	  <div id="footer">
	    <div class="container text-center">
	      <p class="text-muted">2016 | Isaac Del Rosario | <a href="http://github.com/cecdelr">Github</a></p>
	    </div>
	  </div>

	</body>
</html>