<h1>Yelp Camp Search!</h1>
<p>Fill in the form</p>
<form action="/camps" method="GET">
	<input type="text" placeholder="term" name="term">
	<input type="text" placeholder="name" name="location">
	<input type="submit">
</form>