#camps{
	display: flex; 
	flex-wrap: wrap;
	/*Safari*/
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}

.thumbnail{
	padding-top: 10px;
}

footer{
	height: 25px;
    background-color: #efefef;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
}